:root {
  /* Primary Colors */
  --color-primary: #005f73;      /* Deep Teal */
  --color-primary-dark: #003d34; /* Darker Teal */
  --color-primary-light: #00a6a6;/* Lighter Teal */

  /* Secondary Colors */
  --color-secondary: #94d2bd;    /* Soft Green */
  --color-secondary-dark: #62b47a; /* Darker Green */
  --color-secondary-light: #c4e5e1; /* Lighter Green */

  /* Text and Background Colors */
  --color-text: #003333;         /* Dark Teal */
  --color-background: #e6f0f1;   /* Very Light Teal */

  /* Accent Colors */
  --color-accent: #ee9b00;       /* Warm Yellow */
  --color-accent-dark: #e07a5f;  /* Warm Orange */
  --color-accent-light: #f8f1e5; /* Light Beige */

  /* Additional Colors */
  --color-gray: #6c757d;         /* Cool Gray */
  --color-border: #dee2e6;       /* Light Gray */

  /* Success and Error Colors */
  --color-success: #28a745;      /* Success Green */
  --color-error: #dc3545;        /* Error Red */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
}
